<?xml version="1.0" encoding="utf-8"?>
<merge xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" xmlns:aapt="http://schemas.android.com/aapt" android:layout_width="match_parent" android:layout_height="wrap_content">
    <LinearLayout android:gravity="center_vertical" android:orientation="horizontal" android:tag="layout/widget_content_full_player_0" android:layout_width="match_parent" android:layout_height="wrap_content" android:layout_marginStart="8dp" android:layout_marginEnd="8dp">
        <RelativeLayout android:id="@+id/widget_left_space" android:layout_width="0dp" android:layout_height="1dp" android:layout_weight="1"/>
        <ImageButton android:id="@+id/backward" android:background="@drawable/widget_touch_background" android:clickable="true" android:layout_width="wrap_content" android:layout_height="wrap_content" android:scaleType="centerInside" android:contentDescription="@string/previous"/>
        <RelativeLayout android:layout_width="0dp" android:layout_height="1dp" android:layout_weight="1"/>
        <RelativeLayout android:layout_width="wrap_content" android:layout_height="wrap_content">
            <ImageButton android:id="@+id/seek_rewind" android:background="@drawable/widget_touch_background" android:clickable="true" android:layout_width="wrap_content" android:layout_height="wrap_content" android:scaleType="centerInside"/>
            <TextView android:textSize="8dp" android:id="@+id/seek_rewind_text" android:layout_width="wrap_content" android:layout_height="wrap_content" android:text="10" android:layout_centerInParent="true"/>
        </RelativeLayout>
        <RelativeLayout android:layout_width="0dp" android:layout_height="1dp" android:layout_weight="1"/>
        <RelativeLayout android:layout_width="wrap_content" android:layout_height="wrap_content">
            <ImageButton android:id="@+id/play_pause" android:background="@drawable/widget_touch_background" android:clickable="true" android:layout_width="wrap_content" android:layout_height="wrap_content" android:src="@drawable/ic_widget_play" android:scaleType="centerInside" android:contentDescription="@string/resume_playback_short_title"/>
            <ImageView android:id="@+id/progress_round" android:layout_width="wrap_content" android:layout_height="wrap_content" android:layout_centerInParent="true"/>
        </RelativeLayout>
        <RelativeLayout android:layout_width="0dp" android:layout_height="1dp" android:layout_weight="1"/>
        <RelativeLayout android:layout_width="wrap_content" android:layout_height="wrap_content">
            <ImageButton android:id="@+id/seek_forward" android:background="@drawable/widget_touch_background" android:clickable="true" android:layout_width="wrap_content" android:layout_height="wrap_content" android:scaleType="centerInside"/>
            <TextView android:textSize="8dp" android:id="@+id/seek_forward_text" android:layout_width="wrap_content" android:layout_height="wrap_content" android:text="10" android:layout_centerInParent="true"/>
        </RelativeLayout>
        <RelativeLayout android:layout_width="0dp" android:layout_height="1dp" android:layout_weight="1"/>
        <ImageButton android:id="@+id/forward" android:background="@drawable/widget_touch_background" android:clickable="true" android:layout_width="wrap_content" android:layout_height="wrap_content" android:scaleType="centerInside" android:contentDescription="@string/next"/>
        <RelativeLayout android:id="@+id/widget_right_space" android:layout_width="0dp" android:layout_height="1dp" android:layout_weight="1"/>
    </LinearLayout>
</merge>
